@media screen and (max-width: 767px) {
  .card {
    width: 98vw;
    display: flex;
    gap: 0.5rem;
  }

  .image {
    border-radius: 0.5rem;
    width: 10rem;
    height: 5rem;
  }

  .cardDetails {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-top: 0.5rem;
  }

  .title {
    font-size: 16px;
    color: #eeeeee;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    max-height: 32px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .subInfo {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    color: #a7a6a6;
    font-size: 13px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card {
    display: flex;
    gap: 0.5rem;
  }

  .image {
    border-radius: 0.5rem;
    width: 6rem;
    height: 3rem;
  }

  .cardDetails {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  .title {
    font-size: 14px;
    color: #eeeeee;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    max-height: 32px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .subInfo {
    display: flex;
    flex-direction: column;
    color: #a7a6a6;
    font-size: 12px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    display: flex;
    gap: 0.5rem;
  }

  .image {
    cursor: pointer;
    border-radius: 0.5rem;
    width: 10rem;
    height: 5rem;
  }

  .cardDetails {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  .title {
    font-size: 15px;
    color: #eeeeee;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    max-height: 32px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    cursor: pointer;
  }

  .subInfo {
    display: flex;
    flex-direction: column;
    color: #a7a6a6;
    font-size: 13px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
}
