@media screen and (max-width: 767px) {
  .card {
    background-color: #111111;
    color: #eeeeee;
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    cursor: pointer;
    margin-bottom: 1rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card {
    background-color: #111111;
    color: #eeeeee;
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    cursor: pointer;
    margin-bottom: 1rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    background-color: #111111;
    color: #eeeeee;
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    cursor: pointer;
    margin-bottom: 1rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}
